body, html{
  height:100%;
  margin:0;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('http://www.viaviweb.in/envato/tf/viavi_directory_html/images/banner.jpg');
  min-height:100%;
  padding: 0 !important;
  margin: 0 !important;
  /*border-bottom: 7px solid #18D26E;*/
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

nav {
  padding-bottom: 15px !important;
  padding-top: 5px;
}
.ptext {
  color: white;
  text-align: center;
}
span{
  color: #18D26E;
}
h1 {
  padding-top: 100px;

  font-weight: 700;
  font-size: 36px;
  display: block; 
  letter-spacing: 2px;
  text-transform: uppercase;
}
h2{
  font-size: 3.4rem;
  font-weight: 800;
  letter-spacing: 1.6px;
}
p {
  font-size: 26px;
margin: 20px 0px 0px;
letter-spacing: 0.5px;
text-transform: uppercase;
line-height: 30px;
font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}
body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
/*.btn {
  background-color: white;
  /*border: 1px solid #cccccc;*/
  color: #696969;
  /*padding: 0.5rem;*/
  text-transform: lowercase;
}*/
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card__image:hover {
  /*filter: brightness(40%);*/
  /*transform: scale(1.1);*/
  transition: ease-out .5s;
  transition: all .6s ease-in-out 0;
  opacity: 0.5;
 border: 2px solid #18D26E;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}
.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}
.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}
.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}
.card__title {
  color: #696969;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
/*.card-image:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
  transition: all .6s ease-in-out 0;
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.3)
}
*/
.listings {
  text-align: center;
  font-size: 2rem;
}
.dropbtn {
  background-color: white;
  /*color: black;*/
  padding: 7px;
  /*font-size: 16px;*/
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

.btn-primary {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: black;
  letter-spacing: 1px;
  line-height: 15px;
  /*border: 2px solid rgba(58, 133, 191, 0.75);*/
  border-radius: 40px;
  background: #18D26E;
  transition: all 0.3s ease 0s;
}
.button_slide {
  color: black;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #18D26E;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #18D26E;
}
.butto {
  color: black;
  border-radius: 0px;
  background: #18D26E;
  display: inline-block;
margin-left: 20px;
padding-left: 20px;
padding-right: 20px;
  /*font-family: "Lucida Console", Monaco, monospace;*/
  cursor: pointer;
  /*box-shadow: inset 0 0 0 0 black;*/
  -webkit-transition: ease-out 0.8s;
  -moz-transition: ease-out 0.8s;
  transition: ease-out 0.8s;
  border-radius: 25px;
}

.butto:hover {
  box-shadow: inset 400px 0 0 0 black;
  color: white;
}

.search {
  margin: 4rem !important;
  font-size: 2.4rem;
}.dir_cat {
  margin: 15px;
}
.input-group {
  width: 50%;
  margin-left: auto;
  margin-right:auto; 
  border-radius: 25px;
}
.dropdown {
  /*max-height: 10px;*/
  background:none;
}
.input {
  border-radius: 25px !important;
}
.btn-lg {
 font-size: 0.8rem ! important;
}
input.form-control {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border-radius: 0 30px 30px 0 !important;
    padding-left: 15px;
    color: #c2c2c2;
}
.phone {
  padding:3px 3px 0px 3px;
}
.fa-map-marker-alt {
  color: #18D26E;
  padding: 0 3px 0 5px;
}
.city {
  background: #f4f4f4;
padding: 5px 15px;
float: left;
display: block;
width: 100%;
font-size: 13px;
}



/*@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}*/
